<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header>
        <h1>¡Gestión de reursos por <%= user.name %>!</h1>
        <h2><%- htmlMessage %></h2>
        <h2><a href="/home">Home</a></h2>
    </header>
    <main>
        <section>
            <h2>Lista de Recursos</h2>
            <ul class="product-list">
                <% data.recursos.forEach(recurso => { %>
                    <li class="product-item">
                        <strong><%= recurso.estado %></strong> 
                        <span><%= recurso.tipo %></span>
                        <span><%= recurso.ETipo %></span>
                        <span><a href="/recursos/<%=recurso.id%>" class="botonDetalle">Detalle</a></span>
                        <span><a href="/recursos/editar/<%=recurso.id%>" class="botonDetalle">Editar recurso</a></span>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>
</body>
</html>