<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header>
        <h1>¡Gestión de reservas por <%= user.name %>!</h1>
        <h2><%- htmlMessage %></h2>
        <h2><a href="/home">Home</a></h2>
    </header>
    <main>
        <section>
            <h2>Lista de Reservas</h2>
            <ul class="product-list">
                <% data.reservas.forEach(reserva => { %>
                    <li class="product-item">
                        <strong><%= reserva.estado %></strong> 
                        <span><%= reserva.fecha_reserva %></span>
                        <span><%= reserva.hora_inicio %></span>
                        <span><%= reserva.hora_final %></span>
                        <span><a href="/reservas/<%=reserva.id%>" class="botonDetalle">Detalle</a></span>
                        <span><a href="/reservas/editar/<%=reserva.id%>" class="botonDetalle">Editar reserva</a></span>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>
</body>
</html>